* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(235, 18%, 26%);
}

.main {
    align-self: center;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas:
        "text illustration";
    width: 65%;
    height: 70%;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 25px;
}

.text {
    grid-area: "text";
    padding: 30px;
    width: fit-content;
}

p,
label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: hsl(235, 18%, 26%);
    font-weight: 400;
}

ul {
    padding-left: 0px;
    width: max-content;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: hsl(235, 18%, 26%);
    font-weight: 400;
}

ul li {
    background: url(file:///C:/code/newsletter-sign-up-with-success-message-main/assets/images/icon-list.svg) no-repeat left;
    list-style: none;
    padding: 5px 20px;
}

.illustration {
    grid-area: "illustration";
    height: 100%;
    width: 100%;
}

.mobileillustration {
    position: absolute;
    visibility: hidden;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: hsl(234, 29%, 20%);
    font-weight: 700;
    margin-top: 40px;
}

label {
    display: block;
    font-size: 11px;
    color: hsl(234, 29%, 20%);
    font-weight: 700;
    margin: 24px 0px 7px;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
    padding-left: 10px;
    color: hsl(231, 7%, 60%);
}

.subscribe,
.dismiss {
    width: 100%;
    height: 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    background-color: hsl(234, 29%, 20%);
    border: 0px;
    border-radius: 5px;
}

.hidden {
    visibility: hidden;
    position: absolute;
    align-self: center;
    background-color: white;
    width: 50vh;
    height: 50vh;
    left: 37%;
    padding: 35px;
    border-radius: 25px;
}

.open {
    visibility: visible;
}

.close {
    visibility: hidden;
}

h2 {
    margin: 20px 0px;
    line-height: 40px;
}

.confirmation {
    font-size: 13px;
}

.dismiss {
    margin-top: 10px;
}

@media (max-width: 375px) {
    body {
        height: 100vh;
        width: 100%;
        margin: 0px;
        background-color: white;
    }

    .main {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 0px;
        grid-template-rows: 35% 65%;
        grid-template-columns: 100%;
        grid-template-areas:
            "illustration"
            "text";

    }

    .hidden {
        height: 100%;
        width: 100%;
        left: 0%;
        border-radius: 0px;
        padding: 120px 15px 15px 15px;
    }

    .text {
        padding: 15px;
        margin-top: 30px;
    }

    .illustration {
        position: absolute;
        visibility: hidden;
    }

    .mobileillustration {
        visibility: visible;
        grid-area: illustration;
        position: static;
        margin-bottom: 10px;
    }

    .dismiss {
        margin-top: 60%;
        width: 100%;
    }
}